### 1. Import and data loading

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Load data
df = pd.read_csv("data/chess_games_raw.csv")
df

/tmp/ipykernel_238883/2651139906.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/chess_games_raw.csv")

,Event,Site,Date,Round,White,Black,Result,ECO,WhiteElo,BlackElo,PlyCount,EventDate,EventType,Termination,Moves
0,Rated Blitz game,lichess.org,2024.01.01,?,Peixeiro,VaRYemezAmca72,1-0,A14,2504,2371,49.0,2024.??.??,blitz,Time forfeit,c4 c6 g3 d5 Nf3 Nf6 Bg2 e6 b3 Be7 Bb2 O-O O-O ...
1,Rated Blitz game,lichess.org,2024.01.01,?,bayad2016,Yoda-wins,1/2-1/2,E01,2487,2596,71.0,2024.??.??,blitz,Normal,d4 d5 c4 e6 g3 Nf6 Bg2 Bb4+ Nd2 O-O Nf3 dxc4 O...
2,Rated Blitz game,lichess.org,2024.01.01,?,FantacticEman,why_this_bot_exists,1/2-1/2,D35,2915,2921,59.0,2024.??.??,blitz,Normal,d4 d5 c4 e6 Nc3 Nf6 cxd5 exd5 Bg5 c6 e3 h6 Bh4...
3,Rated Blitz game,lichess.org,2024.01.01,?,Chigorinez,Luhrman,1-0,B40,2542,2433,71.0,2024.??.??,blitz,Normal,e4 c5 d4 cxd4 Nf3 e6 Nxd4 Bc5 Nc3 Ne7 Be3 a6 N...
4,Rated Blitz game,lichess.org,2024.01.01,?,syad_bony77,GERINDRA_BOS,0-1,C48,2473,2658,56.0,2024.??.??,blitz,Normal,e4 e5 Nf3 Nf6 Nc3 Nc6 Bb5 Nd4 Nxd4 exd4 Nd5 c6...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269261,Rated Blitz game,?,2024.12.31,-,AfricanJo,Yuri_Guenther,1/2-1/2,C47,2665,2655,NaN,NaN,NaN,Normal,e4 e5 Nf3 Nc6 Nc3 Nf6 d4 exd4 Nxd4 Bb4 Nxc6 bx...
3269262,Rated Blitz game,?,2024.12.31,-,cad2024,emiliofelixramirez,1-0,D23,2537,2449,NaN,NaN,NaN,Time forfeit,d4 d5 c4 dxc4 Nf3 Nf6 g3 Nc6 Bg2 Be6 O-O h6 Nc...
3269263,Rated Blitz game,?,2024.12.31,-,learningchessreally,BiletskiyDanylo,0-1,A15,2583,2557,NaN,NaN,NaN,Time forfeit,Nf3 Nf6 c4 e6 Nc3 Be7 e4 O-O d4 c5 d5 exd5 cxd...
3269264,Rated Blitz game,?,2024.12.31,-,lotrisking,ezis71,1-0,D30,2513,2398,NaN,NaN,NaN,Normal,d4 d5 c4 e6 Nf3 a6 g3 dxc4 Bg2 b5 O-O Bb7 a4 N...
3269265,Rated Blitz game,?,2024.12.31,-,SHEFFFF,C0mB1n0v1tch,1-0,C24,2512,2552,NaN,NaN,NaN,Time forfeit,e4 e5 Nc3 Nf6 Bc4 Nc6 d3 Na5 Bg5 c6 Nf3 Nxc4 d...

### 2. Initial data exploration

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3269266 entries, 0 to 3269265
Data columns (total 15 columns):
 #   Column       Dtype
---  ------       -----
 0   Event        object
 1   Site         object
 2   Date         object
 3   Round        object
 4   White        object
 5   Black        object
 6   Result       object
 7   ECO          object
 8   WhiteElo     int64
 9   BlackElo     int64
 10  PlyCount     float64
 11  EventDate    object
 12  EventType    object
 13  Termination  object
 14  Moves        object
dtypes: float64(1), int64(2), object(12)
memory usage: 374.1+ MB

In [4]:
df.isnull().sum()

Event                0
Site                 0
Date                 0
Round                0
White                0
Black                0
Result               0
ECO                336
WhiteElo             0
BlackElo             0
PlyCount       2707355
EventDate      2707355
EventType      2711070
Termination          0
Moves             1010
dtype: int64

In [5]:
df.describe()

           WhiteElo      BlackElo       PlyCount
count  3.269266e+06  3.269266e+06  561911.000000
mean   2.569311e+03  2.568953e+03      87.919028
std    1.342731e+02  1.328460e+02      40.879115
min    2.300000e+03  2.300000e+03       0.000000
25%    2.500000e+03  2.500000e+03      60.000000
50%    2.545000e+03  2.545000e+03      81.000000
75%    2.620000e+03  2.620000e+03     110.000000
max    3.367000e+03  3.390000e+03     600.000000

In [6]:
df['Date'].value_counts()

Date
2024.12.28    13967
2024.05.11    11704
2024.02.10    11302
2024.01.22    10984
2024.01.13    10935
              ...
2024.06.22     7495
2024.08.24     7342
2024.08.03     7209
2024.10.26     7143
2024.09.12     4500
Name: count, Length: 366, dtype: int64

### 3. Drop columns that has many missing data or irrelevant

In [7]:
df = df.drop(['Site', 'Round', 'PlyCount', 'EventDate'], axis=1)
df = df.dropna(subset=['ECO', 'Moves'])
df.isnull().sum()

Event                0
Date                 0
White                0
Black                0
Result               0
ECO                  0
WhiteElo             0
BlackElo             0
EventType      2710396
Termination          0
Moves                0
dtype: int64

### 4. Convert data types

In [8]:
df['WhiteElo'] = df['WhiteElo'].astype(int)
df['BlackElo'] = df['BlackElo'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3268256 entries, 0 to 3269265
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   Event        object
 1   Date         object
 2   White        object
 3   Black        object
 4   Result       object
 5   ECO          object
 6   WhiteElo     int64
 7   BlackElo     int64
 8   EventType    object
 9   Termination  object
 10  Moves        object
dtypes: int64(2), object(9)
memory usage: 299.2+ MB

### 5. Remove * or unfinished games rows

In [9]:
df = df[df['Result'].isin(['1-0', '0-1', '1/2-1/2'])]
df['Result'].value_counts()

Result
1-0        1508074
0-1        1338304
1/2-1/2     421755
Name: count, dtype: int64

### 6. Extract termination feature

In [10]:
def extract_termination(term_str):
    term_str = str(term_str).lower()
    
    if any(word in term_str for word in ['rules', 'infraction', 'cheat', 'violation']):
        return 'violation'
    
    elif any(word in term_str for word in ['time', 'forfeit', 'outoftime']):
        return 'time'
    
    elif any(word in term_str for word in ['abandon', 'unterminated', 'disconnect']):
        return 'abandon'
    
    else:
        return 'normal'

df['TerminationType'] = df['Termination'].apply(extract_termination)
df = df[df['TerminationType'].isin(['normal', 'time'])]
df['TerminationType'].value_counts()

TerminationType
normal    2644063
time       623575
Name: count, dtype: int64

### 7. Parse and group game type into 3 categories

In [11]:
#df['Event'].unique()
df['Event'].value_counts()

Event
Rated Blitz game                                                  2886893
Rated Rapid game                                                   187145
Rated Classical game                                                15916
Rated Blitz tournament https://lichess.org/tournament/winter24       5563
Rated Blitz tournament https://lichess.org/tournament/spring24       3681
                                                                   ...
Rated Rapid tournament https://lichess.org/tournament/1KPGQlMW          1
Rapid swiss https://lichess.org/swiss/x9hxP18d                          1
Rated Blitz tournament https://lichess.org/tournament/f2S8VZna          1
Rated Blitz tournament https://lichess.org/tournament/m4hWEOsn          1
Rated Blitz tournament https://lichess.org/tournament/0QxCTUHt          1
Name: count, Length: 8841, dtype: int64

In [12]:
def extract_time_class(event):
    event_lower = str(event).lower()
    if 'blitz' in event_lower:
        return 'blitz'
    elif 'rapid' in event_lower:
        return 'rapid'
    elif 'classical' in event_lower:
        return 'classical'
    else:
        return np.nan

df['EventType'] = df['Event'].apply(extract_time_class)
df = df[df['EventType'].notna()]
df['EventType'].value_counts(dropna=False)

EventType
blitz        3060359
rapid         191316
classical      15963
Name: count, dtype: int64

### 8. Drop duplicates

In [13]:
df[df.duplicated()]

,Event,Date,White,Black,Result,ECO,WhiteElo,BlackElo,EventType,Termination,Moves,TerminationType
8508,Rated Blitz game,2024.01.01,BOT-Feline,Fruity23,1/2-1/2,A28,2925,2922,blitz,Normal,c4 e5 Nc3 Nf6 Nf3 Nc6 e4 Bb4 d3 d6 a3 Bc5 b4 B...,normal
79331,Rated Rapid game,2024.01.08,Mate-AI,Intron014,1/2-1/2,C67,2930,2945,rapid,Normal,e4 e5 Nf3 Nc6 Bb5 Nf6 O-O Nxe4 d4 Nd6 Bxc6 dxc...,normal
84624,Rated Rapid game,2024.01.09,caissa-x,FireFishBOT_v2,1/2-1/2,A01,2952,2950,rapid,Normal,b3 e5 Bb2 Nc6 c4 Nge7 Nf3 d5 cxd5 Nxd5 e4 Ndb4...,normal
156949,Rated Blitz game,2024.01.17,abcbot,blundar_bot,1/2-1/2,B90,2781,2855,blitz,Normal,e4 c5 Nf3 d6 Nc3 Nf6 d4 cxd4 Nxd4 a6 Bc4 e6 Be...,normal
174641,Rated Blitz game,2024.01.18,blundar_bot,FelineBot,1/2-1/2,C89,2860,2947,blitz,Normal,e4 e5 Nf3 Nc6 Bb5 a6 Ba4 Nf6 O-O Be7 Re1 b5 Bb...,normal
...,...,...,...,...,...,...,...,...,...,...,...,...
2775402,Rated Blitz game,2024.11.09,DTH_Khainguyenlord,ToromBot,0-1,B06,2867,3049,blitz,Normal,e4 g6,normal
2775477,Rated Blitz game,2024.11.09,DTH_Khainguyenlord,caissa-x,0-1,B10,2863,3023,blitz,Normal,e4 c6,normal
2779408,Rated Blitz game,2024.11.09,DTH_Khainguyenlord,ASliceOfPi,0-1,B20,2396,2978,blitz,Normal,e4 c5,normal
2779549,Rated Blitz game,2024.11.09,ASliceOfPi,DTH_Khainguyenlord,1-0,C10,2978,2394,blitz,Normal,e4 e6 d4 d5 Nc3,normal
2788955,Rated Blitz game,2024.11.10,DTH_Khainguyenlord,IntegralBot,0-1,C00,2393,2951,blitz,Normal,e4 e6,normal

In [14]:
df = df.drop_duplicates()

### 9. Extract move features

In [16]:
def extract_full_game_features(moves_str):
    """Extract interpretable features from complete move sequence"""
    if pd.isna(moves_str) or moves_str == "":
        return {f: 0 for f in [
            'total_moves', 'w_captures', 'w_checks', 'w_castles', 'w_promotions',
            'b_captures', 'b_checks', 'b_castles', 'b_promotions',
            'w_capture_rate', 'b_capture_rate', 'w_aggression_score', 'b_aggression_score'
        ]}
    
    moves = moves_str.split()
    total_moves = len(moves)
    half_moves_w = (total_moves + 1) // 2
    half_moves_b = total_moves // 2
    
    w_captures = sum(1 for i, m in enumerate(moves) if i % 2 == 0 and 'x' in m)
    w_checks = sum(1 for i, m in enumerate(moves) if i % 2 == 0 and '+' in m)
    w_castles = sum(1 for i, m in enumerate(moves) if i % 2 == 0 and 'O-O' in m)
    w_promotions = sum(1 for i, m in enumerate(moves) if i % 2 == 0 and '=' in m)
    
    b_captures = sum(1 for i, m in enumerate(moves) if i % 2 == 1 and 'x' in m)
    b_checks = sum(1 for i, m in enumerate(moves) if i % 2 == 1 and '+' in m)
    b_castles = sum(1 for i, m in enumerate(moves) if i % 2 == 1 and 'O-O' in m)
    b_promotions = sum(1 for i, m in enumerate(moves) if i % 2 == 1 and '=' in m)
    
    return {
        'total_moves': total_moves,
        'w_captures': w_captures,
        'w_checks': w_checks,
        'w_castles': w_castles,
        'w_promotions': w_promotions,
        'b_captures': b_captures,
        'b_checks': b_checks,
        'b_castles': b_castles,
        'b_promotions': b_promotions,
        'w_capture_rate': w_captures / max(1, half_moves_w),
        'b_capture_rate': b_captures / max(1, half_moves_b),
        'w_aggression_score': (w_captures + w_checks + w_promotions) / max(1, half_moves_w),
        'b_aggression_score': (b_captures + b_checks + b_promotions) / max(1, half_moves_b),
    }

print("Extracting move features...")
move_features = df['Moves'].apply(extract_full_game_features)
move_features_df = pd.DataFrame(move_features.tolist())

Extracting move features...

### 10. Combine all features

In [17]:
df = pd.concat([df.reset_index(drop=True), move_features_df.reset_index(drop=True)], axis=1)
df.head()

,Event,Date,White,Black,Result,ECO,WhiteElo,BlackElo,EventType,Termination,...,w_castles,w_promotions,b_captures,b_checks,b_castles,b_promotions,w_capture_rate,b_capture_rate,w_aggression_score,b_aggression_score
0,Rated Blitz game,2024.01.01,Peixeiro,VaRYemezAmca72,1-0,A14,2504,2371,blitz,Time forfeit,...,1,0,4,0,1,0,0.160000,0.166667,0.160000,0.166667
1,Rated Blitz game,2024.01.01,bayad2016,Yoda-wins,1/2-1/2,E01,2487,2596,blitz,Normal,...,1,0,7,2,1,0,0.222222,0.200000,0.500000,0.257143
2,Rated Blitz game,2024.01.01,FantacticEman,why_this_bot_exists,1/2-1/2,D35,2915,2921,blitz,Normal,...,1,0,4,0,1,0,0.133333,0.137931,0.133333,0.137931
3,Rated Blitz game,2024.01.01,Chigorinez,Luhrman,1-0,B40,2542,2433,blitz,Normal,...,1,0,9,3,0,0,0.277778,0.257143,0.305556,0.342857
4,Rated Blitz game,2024.01.01,syad_bony77,GERINDRA_BOS,0-1,C48,2473,2658,blitz,Normal,...,1,0,6,0,1,0,0.178571,0.214286,0.285714,0.214286

### 12. Export cleaned data

In [18]:
df.to_csv('data/chess_games_clean.csv', index=False)